@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

:root {
  --primary-green: #36b37e;
  --primary-green-light: #c5e9da;
  --secondary-green-light: #ebf0ee;
  --primary-green-dark: #3a4a42;
  --primary-blue-dark: #172b4d;
  --primary-white-light: #fff;
  --project-btn: #36b37f;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  list-style: none;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: "Inter", sans-serif;
  color: var(--primary-blue-dark);
}

nav {
  height: 50px;
  width: 100%;
}

h1 {
  width: 90%;
  text-align: center;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
}

h1::after {
  font-style: normal;
  color: var(--primary-green);
  content: "I'm a software developer";
}

.menu-btn {
  padding: 1rem;
  float: right;
  border-style: none;
  background-color: transparent;
  cursor: pointer;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
}

.container-intro {
  height: 650px;
  width: 100%;
  padding: 2.5rem 2rem 2rem;
  gap: 1rem;
  justify-content: flex-end;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(icons/header-illsutration-mobile.svg);
}

.container-intro p {
  width: 90%;
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
}

.social-media {
  gap: 1rem;
  align-items: baseline;
}

.down-btn {
  padding: 8px;
  margin-top: 3rem;
  line-height: 50%;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #dfe1e6;
  background-color: var(--primary-white-light);
  cursor: pointer;
}
